<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Definindo o Appender para o console com suporte a cores -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{yyyy-MM-dd HH:mm:ss} - %highlight(%-5level) %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Configuração do Logger -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>
